*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "neue-haas-grotesk-text", sans-serif;
    margin: 0;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    padding: 40px;
    z-index: 100;
}

.sidebar ul {
    list-style: none;;

}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.content {
    margin-left: 200px;
    width: calc(100% - 200px);
}

#archive-default{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.format-box {
    border: 1px solid white;
    height: 300px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.format-box:hover {
    background-color: white;
}

#archive-detail {
    display: flex;
    width: 100%;
}

.detail-left, .detail-center {
    position: sticky;
    top: 40px;
    height: calc(100vh - 80px);
    padding: 0 40px;
}

.detail-left{
    width: 25%;
}

.detail-center{
    width: 25%;
}

.detail-right {
    width: 50%;
    padding-right: 40px;
}

#selected-format-box{
    border: 1px solid white;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.frame-16mm {
    width: 0.404in; 
    height: 0.295in;
}

.frame-35mm {
    width: 0.980in;
    height: 0.295in;
}

.frame-vista{
    width: 1.495in;
    height: 0.991in;
}

.frame-70mm {
    width: 2.066in;
    height: 0.906in;
}

.frame-imax {
    width: 2.772in;
    height: 2.072in;
}

#movie-frames img {
    widht: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    background-color: #222
}

#movie-list{
    list-style: none;
    margin-top: 40px;
}

#movie-list li {
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#movie-list li:hover, #movie-list li.active {
    opacity: 1;
    text-decoration: underline;
}